html,body{width:100%;min-width: 320px;max-width: 500px; margin: 0 auto;overflow-x: hidden;}
/*高亮*/
a,img,button,input,textarea,div,p,span,h1,h2,h3,h4,h5,h6,li,ul,dl,dt,dd{-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{
    -webkit-touch-callout: none;  /*禁止或显示系统默认菜单*/
   /*-webkit-user-select: none;*/ /*禁止长按复制选择*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);/*禁止触摸a标签高亮 这个特别实用*/
}
section{ /*父元素 行级，块级元素居中显示 */
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
/*无法选中*/
.no-select{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
/*禁止换行 多余省略*/
.text-elli{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*多行 多余省略*/
.text-elli-more{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*显示的行数*/
    -webkit-box-orient: vertical;
}
/*取消按钮在inphone上的默认样式*/
input[type=button]{
    -webkit-appearance:none;outline:none
}
/*placeholder 字体颜色*/
input::-webkit-input-placeholder{
    color:#f72109;
}
textarea::-webkit-input-placeholder{
    color:#F0F0F0;
}
/*flex 布局 兼容性*/
.box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.box-centerX{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.box-column{
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.box-startX{
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.box-endX{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.box-justifyX{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.box-startY{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.box-endY{
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.box-centerY{
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*放大比例*/
.box-grow{
    -webkit-box-flex: 1.0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
/*缩小比例*/
.box-shrink{
    -webkit-box-flex: 1.0;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
/* 横屏时提示*/
.orientation-prompt{
    position:fixed;
    left:0;
    top:0;
    z-index: 9999;
    width:100%;
    height:100%;
    background:#000;
}
.orientation-prompt-main{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.orientation-phone{
    display:block;
    width:50px;
    margin:0 auto;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.orientation-prompt-txt{
    font-size: 15px;
    color:#ffffff;
    white-space: nowrap;
    line-height: 50px;;
}
.phone-animation{
    -webkit-animation: phone-animation 1.5s linear infinite;
    animation: phone-animation 1.5s linear infinite;
}
@-webkit-keyframes phone-animation {
    0%{-webkit-transform: rotate(0deg);}
    30%{-webkit-transform: rotate(90deg);}
    50%{-webkit-transform: rotate(90deg);}
    80%{-webkit-transform: rotate(0deg);}
}
@keyframes phone-animation {
    0%{transform: rotate(0deg);}
    30%{transform: rotate(90deg);}
    50%{transform: rotate(90deg);}
    80%{transform: rotate(0deg);}
}
/*竖屏*/
@media all and (orientation:portrait) {
    .orientation-Mobile #orientation-prompt{display:none;}
}
/*横屏*/
@media all and (orientation:landscape) {
    .orientation-Mobile #orientation-prompt{display:block!important;}
}
body{
    background: #070404;
}
.page_ch{
    width: 100%;
    background: no-repeat top center;
    background-size: 100% auto;
    max-width: 500px;
}
/*媒体查询,字体默认大小*/
@media screen and (max-width: 321px) {
    body {font-size:15px}
}
@media screen and (min-width: 321px) and (max-width:400px) {
    body {font-size:17px}
}
@media screen and (min-width: 400px) {
    body {font-size:18px}
}






